<header>
    <h1>Meine Website</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">Über uns</a>
        <a href="/contact">Kontakt</a>
        <a href="/register">Regestrierung</a>
        <a href="/login">Login</a>
    </nav>
</header>
<hr>